// Custom styles.
.post {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 30px;
   -webkit-box-shadow: 0 0 5px rgba(102, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(102, 203, 204, .5);
  }

body {
    background:url(/uploads/yourname04.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%; 
}
