// Custom styles.
.post {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 30px;
   -webkit-box-shadow: 0 0 5px rgba(102, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(102, 203, 204, .5);
  }

body {
    background:url(/uploads/yourname04.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%; 
}

#sidebar {
			background:url(/uploads/yourname02.jpg);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
            p,span,a {color: white;}
}

.content{
    border-radius: 10px;
    margin-top: 60px;
    background: rgba(255,255,255,.75) none repeat scroll !important;
}
.header {
    background: rgba(255,255,255,.75) none repeat scroll !important;
        }
.footer {
    background: rgba(255,255,255,.75) none repeat scroll !important;
        }
